body{
  padding-bottom: 20;
}
.section1{
  background-image: linear-gradient(-180deg, #323232 25%, #1D72C0 100%);
}
.section1 h1{
  text-align: center;color:#FFF;font-size:16px;padding:28px 0 8px 0;
}
.section1 .category{
  font-size:12px;line-height:12px;color:#FFF;
}
.section1 .info{
  font-size: 20px;line-height:20px;color: #FF6D00;margin-top:10px;
}
.section1 li{
  display:inline-block;width:49%;text-align: center;margin-top:8px;
}
.section1 .rate{
  width:100%;
}
.rate .info{
  font-size: 48px;line-height:48px;
}
.grey{
  color:#D8D8D8;font-size:12px;
}
.remain{
  float:right;width:6.5rem;
}
.total{
  width:40%;height:11px;background: #FFF;display:inline-block;margin:0 10px;
}
.total div{
  background: #FF6500;height:11px;
}
.progress{
  text-align: center;padding:20px 0;
}
.section{
  background:#fff;margin-top:8px;
}
.section2 .date4 li{
  width:24%;
}
.section2 li{
  width:32%;height:56px;text-align: center;float:left;
  margin:16px 0;
}
.section2 p{
  line-height:12px;font-size: 12px;
}

.section2 .timeline{
  width:100%;height:1px;background:#D8D8D8;margin:14px 0;position:relative;right:50%;
}
/* 第一个日期左边进度线不显示 */
.section2 .timeline-n{
  background:#FFF;
}
.section2 .active-line{
  background:#FF6500;
}
.round{
  position:absolute;background:rgba(219,219,219,0.5);width:16px;height:16px;border-radius:50%;top:-7px;right:-6px;z-index:1;
}
.round div{
  border-radius:50%;width:10px;height:10px;background:#D8D8D8;
  position:absolute;top:3px;left:3px;
}
.active-round{
  background:rgba(255,109,0,0.5);
}
.active-round div{
  background:#FF6D00;
}
/*考虑加入pub~~~~*/



.section-5 h3,.section-6 h3,.section-7 h3{
  font-size: 16px;color: #333333;
}
.section-5,
.section-6,
.section-7,
.section-8 {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
  overflow: hidden;
  background: #fff;
}
.section-5 .content,
.section-6 .content,
.section-7 .content,
.section-8 .content {
  width: 90%;
  margin: 0 auto;
}
.section-5 .content h3,
.section-6 .content h3,
.section-7 .content h3,
.section-8 .content h3 {
  font-size: 15px;
  margin-top: 8px;
}
.section-5 .content img,
.section-6 .content img,
.section-7 .content img,
.section-8 .content img {
  width: 18px;
  display: block;
  float: right;
  margin-top: 2px;
}
.section-5 .content p,
.section-6 .content p,
.section-7 .content p,
.section-8 .content p {
  margin-top: 12px;
  display: none;
  line-height: 25px;
}
.open-pdf {
  margin-top: 8px;
  padding: 10px 0;
  background: #fff;
  overflow: hidden;
}
.open-pdf b {
  background: #D8D8D8;
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: 5%;
  margin-top: 3px;
  border: 1px solid #666;
}
.open-pdf a {
  display: block;
  float: left;
  font-size: 13px;
  margin-left: 9px;
  margin-top: 6px;
}
.open-pdf button {
  display: block;
  float: right;
  margin-right: 3%;
  padding: 5px 10px;
  border: 1px solid #9a5e27;
  color: #9a5e27;
  border-radius: 5px;
  background: transparent;
}
.bottom {
  width: 92%;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  height:33px;
  background-color:#f5a623;padding:8px 4%;
}
.bottom div{
  height:33px;border-radius:4px;float:left;
}
.bottom .tarea{
  width:66%;background:#FFF;position:relative;padding:0 3%;
}
.bottom .btn{
  width:21%;background:#FA3D1F;line-height: 33px;text-align: center;margin-left:3%;color:#FFF;font-size: 12px;
}
.bottom .tipl{
  float:left;line-height: 33px;font-size: 12px;
}
.bottom input{
  position:absolute;width:100%;left:0;top:0;height:33px;line-height:33px;border:none;background:rgba(0,0,0,0);text-align:right;
  padding-left:27%;padding-right:10%;padding:0 10% 0 27%;
}
.bottom .tipr{
  float:right;line-height: 33px;font-size: 12px;
}

.section3,.section4{
  padding:16px;
}
.section3 h3,.section4 h3{
  font-size:16px;color:#333;margin-bottom: 16px;
}
.section3 li a,.section3 li span,.section4 li a,.section4 li span{
  font-size: 12px;color: #666666;line-height: 24px;width:49%;display:inline-block;
  vertical-align:top;
}
.weui-toast {
        position: fixed;
        z-index: 5000;
        width: 7.6em;
        top: 180px;
        left: 50%;
        background: rgba(17, 17, 17, 0.7);
        text-align: center;
        border-radius: 5px;
        color: #FFFFFF;
      }
      .weui-icon_toast {
        margin: 22px 0 0;
        display: block;
      }
      .weui-icon_toast.weui-icon-success-no-circle:before {
        color: #FFFFFF;
        font-size: 55px;
      }
      .weui-icon_toast.weui-loading {
        margin: 30px 0 0;
        width: 38px;
        height: 38px;
        vertical-align: baseline;
      }
      .weui-toast__content {
        margin: 0 0 15px;
      }
      .weui-mask {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
      }
      .weui-mask_transparent {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }