/** {
	  margin: 0;
	  padding: 0;
	  font-family: "微软雅黑";
	  font-size: 14px;
	}
.wrap,.circle,.percent{  
    position: absolute;  
    width: 50px;  
    height: 50px;  
    border-radius: 50%;  
}  
.wrap{  
    background-color: #ccc;  
}  
.circle{  
    box-sizing: border-box;  
    border:20px solid #ccc;  
    clip:rect(0,50px,50px,25px);  
}  
.clip-auto{  
    clip:rect(auto, auto, auto, auto);  
}  
.percent{  
    box-sizing: border-box;  
    top:-20px;  
    left:-20px;  
}  
.left{  
    transition:transform ease;  
    border:20px solid #f9852e;  
    clip: rect(0,25px,50px,0);  
}  
.right{  
    border:10px solid #f9852e;  
    clip: rect(0,50px,50px,25px);  
}  
.wth0{  
    width:0;  
}  
.num{  
    position: absolute;  
    box-sizing: border-box;  
    width: 40px;  
    height: 40px;  
    line-height: 40px;  
    text-align: center;  
    font-size: 40px;  
    left: 5px;  
    top: 5px;  
    border-radius: 50%;  
    background-color: #fff;  }*/
.tab{
    height:36px;text-align:center;position:relative;margin-bottom: -3px;
}
.tab span{
	display:inline-block;font-size: 16px;
	text-align:center;line-height:40px;
	width:49%;
}
.tab hr{
	width:20%;border:1px solid #1D72C0;
	position:absolute;bottom:-6px;left:14%;left:64%;
}
span.active{color:#1D72C0;}
.content .item,.content .FIXI,.content .PRIF{
  position: relative;
  padding: 17px 6%;
  background: #fff;
  margin-top: 10px;
}
.FIXI ul{
    position:relative;
}
.FIXI li{
    display: inline-block;margin:14px 0;
}
.PRIF li{
  float:left;
}
 .content .FIXI h2,.content .PRIF h2{
	font-size:16px;font-weight:normal;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;
}
.content .FIXI .info,.content .PRIF .info{
	font-size: 24px;color: #FF6D00;line-height: 24px;
}
.content .FIXI .category,.content .PRIF .category{
	font-size: 14px;line-height: 14px;margin-top:5px;
}
/* 3对应已售罄   若后期已结束样式相同。增加scoden即可 */
.content .FIXI .scode3 .info,.content .FIXI .scode4 .info,.content .FIXI .scode8 .info,.content .FIXI .scode9 .info{
    color: #DBDBDB;
}
 .content .FIXI .scode3 .status, .content .FIXI .scode4 .status, .content .FIXI .scode8 .status, .content .FIXI .scode9 .status{
    background-color: #DBDBDB;box-shadow: none;transform:rotate(-30deg);
}
.content .FIXI .scode3 .done,.content .FIXI .scode4 .done,.content .FIXI .scode8 .done,.content .FIXI .scode9 .done{
    background:#DBDBDB;
}
.content .FIXI .scode3 .round,.content .FIXI .scode4 .round,.content .FIXI .scode8 .round,.content .FIXI .scode9 .round{
    background:rgba(219,219,219,0.5);left:99% !important;
}
.content .FIXI .scode3 .round div,.content .FIXI .scode4 .round div,.content .FIXI .scode8 .round div,.content .FIXI .scode9 .round div{
    background:#DBDBDB;
}
.FIXI .rate,.PRIF .rate{
	width:45%;
}
.FIXI .status{
	width:20%;background-color: #FF6D00;height:30px;border-radius: 3px;line-height: 30px;text-align: center;color:#FFF;
	box-shadow:0 0 10px #FF6D00;position:absolute;right:0;
}
.PRIF .status{
  position:absolute;top:0;right:0;width:15%;height:22px;line-height: 22px;background:#FF6D00;
  color:#FFF;text-align: center;
}
.FIXI .progress{
	width:100%;height:4px;background:#F4F4F4;position:relative;margin-bottom: 12px;
}
.FIXI .done{
	background:#FF6D00;height:4px;
}
.FIXI .round{
	position:absolute;background:#FF6D00;background:rgba(255,109,0,0.5);width:16px;height:16px;border-radius:50%;top:-6px;
}
.FIXI .round div{
	border-radius:50%;width:10px;height:10px;background:#FF6D00;
	position:absolute;top:3px;left:3px;
}
.FIXI img{
	width:14px;height:14px;margin-right:6px;
}

.mask {
  display: none;width: 100%;height: 100%;position: fixed;top: 0;background: rgba(0, 0, 0, 0.7);
}
.mask .content {
  overflow: hidden;
  width: 84%;margin: 0 auto; padding-bottom: 15px;
  margin-top: 34%;background: #fff;
}
.mask .content h2 {
  text-align: center;margin: 20px 0 28px 0;font-size: 16px;font-weight:normal;
}
.mask .content .main {
  box-sizing: border-box;width: 93%;padding:5px 18px 0 5px;height:229px;overflow:scroll;margin: 0 auto;border: 1px solid #666;
}
.mask .confirm{
    font-size:12px;margin:11px 0 0 3%;
}
.confirm img{
    width:13px;margin-right: 9px;
}
.btn{
    width:35%;margin:19px auto;height:34px;line-height:34px;text-align:center;
    background: #1D72C0;border-radius:4px;color:#FFF;
}
.weui-toast {
  position: fixed;
  z-index: 5000;
  width: 7.6em;
  top: 180px;
  left: 50%;
  background: rgba(17, 17, 17, 0.7);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
}
.weui-icon_toast {
  margin: 22px 0 0;
  display: block;
}
.weui-icon_toast.weui-icon-success-no-circle:before {
  color: #FFFFFF;
  font-size: 55px;
}
.weui-icon_toast.weui-loading {
  margin: 30px 0 0;
  width: 38px;
  height: 38px;
  vertical-align: baseline;
}
.weui-toast__content {
  margin: 0 0 15px;
}
.weui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.weui-mask_transparent {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

