* {
  margin: 0;
  padding: 0;
  font-family: "寰杞榛";
  font-size: 14px;
  color: #666666;
}
a {
  text-decoration: none;
}
a img {
  border: none;
}
ol,
ul {
  list-style: none;
}
input,
textarea {
  outline: none;
}
button {
  text-align: center;
  border: none;
  outline: none;
}
html,
body {
  max-width: 768px;
  min-width: 320px;
  padding-bottom: 40px;
  background: #f3f3f3;
}
.header {
  text-align: center;
  height: 42px;
  background: #333333;
}
.header .return {
  display: block;
  width: 22.5px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.header .more {
  display: block;
  width: 22.5px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.header b {
  color: #fff;
  font-weight: normal;
  float: right;
  margin-right: 10px;
  line-height: 42px;
}
.header .close,
.header .back {
  float: left;
  font-size: 16px;
  color: #fff;
  line-height: 42px;
}
.header .close {
  margin-left: 7px;
}
.header h3 {
  font-weight: normal;
  line-height: 42px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 17px;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  background: url(../img/shawder.png) no-repeat;
  background-size: 100% 100%;
  height: 49px;
}
.footer li {
  width: 33.33%;
  float: left;
  margin-top: 6px;
}
.footer li div {
  width: 22px;
  margin: 0 auto;
}
.footer li div img {
  width: 100%;
}
.footer li p {
  margin-top: -2px;
  font-size: 13px;
  text-align: center;
  color: #9a5e27;
}
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
	}
	
	.dropload-down{
	    height: 50px;
	}	
	.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}

