<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>产品详情</title>
		<link rel="stylesheet" type="text/css" href="css/pub.css"/>
		<link rel="stylesheet" href="css/jquery-weui.min.css">
		<link rel="stylesheet" type="text/css" href="css/goodsDetail.css"/>	
		<script type="text/javascript" src="js/jquery-2.1.4.js" ></script>
		<script src="js/jquery-weui.min.js"></script>
		<script src='js/template.js'></script>
		<script src='js/top.js'></script>
		<style>
			
		</style>
	</head>

	<body>
		<div id="wrap"></div>
		<script id="temp" type="text/html">
			<!--第一部分产品主要信息-->
			<div class="section1">
				<h1>{{productName}}</h1>
				<ul>
					<li class='rate'>
						<p class='category'>预期年化收益率</p>
						<p class='info'>{{annualInterestRate}}</p>

					</li>
					<li>
						<p class='category'>期限(天)</p>
						<p class='info'>{{productPeriod}}</p>
					</li>
					<li>
						<p class='category'>起投金额(元)</p>
						<p class='info'>{{productMinInvestment }}</p>
					</li>
				</ul>
				<div class='progress'>
					<span class='grey'>进度:</span>
					<div class="total">
						<div style='width:{{productProgress}}%'></div>
					</div>
					<span class='grey remain'>剩余时间：{{timeRemain}}</span>
					</div>
			</div>
			<!--第二部分时间轴-->
			<div class="section2 section">	
				{{if productPaymentDate}}	
				<ul class='date4'>
				{{else}}
				<ul>
				{{/if}}
					<li>
						<p>发布日</p>
						<div class='timeline timeline-n'>
							<div class='round active-round'>
								<div></div>
							</div>
						</div>
						<p>{{productPublishDate}}</p>
					</li><li>
						<p>起息日</p>
						<div class='timeline {{productInterestDate<=serverTime?'active-line':''}}'>
							<div class='round {{productInterestDate<=serverTime?'active-round':''}}'>
								<div></div>
							</div>
						</div>
						<p>{{productInterestDate}}</p>
					</li><li>
						<p>到期日</p>
						<div class='timeline {{productExpiringDate<=serverTime?'active-line':''}}'>
							<div class='round {{productExpiringDate<=serverTime?'active-round':''}}'>
								<div></div>
							</div>
						</div>
						<p>{{productExpiringDate}}</p>
					</li>
					{{if productPaymentDate}}
					<li>
						<p>预期收款日</p>
						<div class='timeline {{productPaymentDate<=serverTime?'active-line':''}}'>
							<div class='round {{productPaymentDate<=serverTime?'active-round':''}}'>
								<div></div>
							</div>
						</div>
						<p>{{productPaymentDate}}</p>
					</li>
					{{/if}}
				</ul>
			</div>

			<!--第三部分基本要素-->
			<div class="section3 section">						
				<h3>基本要素</h3>
				<ul>
				{{if productCode}}  
					<li><a>项目编号</a><span>{{productCode}}</span></li>
				{{/if}}
					<li><a>产品名称</a><span>{{productName}}</span></li>
					<li><a>产品类型</a><span>{{productType}}</span></li>
					<li><a>产品规模</a><span>{{productScale}}</span></li>
				{{if productPeriod}}  
					<li><a>产品期限</a><span>{{productPeriod}}</span></li>
				{{/if}}
					<li><a>预期年化收益率</a><span>{{annualInterestRate}}</span></li>
					<li><a>收益方式</a><span>{{productInterestType}}</span></li>
					<li><a>起投金额</a><span>{{productMinInvestment}}</span></li>
					<li><a>递增金额</a><span>{{investmentInterval}}</span></li>
				{{if productMaxInvestmentValue>=0}}  
					<li><a>投资上限</a><span>{{productMaxInvestmentValue}}</span></li>
				{{/if}}
				{{if isTransferFlag>=0}}  
					<li><a>可转债券</a><span>{{isTransferFlag==0?'不可转':'可转'}}</span></li>
				{{/if}}
				{{if investorQualification}}  
					<li><a>投资人条件</a><span>{{investorQualification}}</span></li>
				{{/if}}
				</ul>
			</div>
			
			<!--第四部分认购信息-->
			<div class="section section4">						
				<h3>项目概况</h3>
				<ul>
					<li>{{productIntroduction}}</li>
				</ul>
			</div>
			</div>
			<!--第五部分-->
			{{if productInformation}}  
				{{if productInformation[0]}}
			    <div class=" section section-5">						
					<div class="content open">
						<img src="img/icon-3.png"/>
						<h3>资金投向</h3>				
						<p id="tzfw">
						{{productInformation[0].inforValue}}
						</p>
					</div>
				</div>
				{{/if}}
				{{if productInformation[1]}}
				<!--第六部分-->
				<div class="section-6">						
					<div class="content open">
						<img src="img/icon-3.png"/>
						<h3>还款来源</h3>				
						<p id="fkcs">
						{{productInformation[1].inforValue}}
						</p>
					</div>
				</div>
				{{/if}}
				<!--第七部分-->
				{{if productInformation[2]}}
				<div class="section-7">						
					<div class="content open">
						<img src="img/icon-3.png"/>
						<h3>风险保障</h3>				
						<p id="cpld">
						{{productInformation[2].inforValue}}
						</p>
					</div>
				</div>
				{{/if}}
				{{if productInformation[3]}}
				<div class="section-7">						
					<div class="content open">
						<img src="img/icon-3.png"/>
						<h3>风险提示</h3>				
						<p id="cpld">
						{{productInformation[3].inforValue}}
						</p>
					</div>
				</div>
				{{/if}}
			{{else}}
			{{/if}} 
			<!--第八部分-->
		<!-- 	<div class="section-8" style="padding-bottom:100px;">						
				<div class="content open">
					
					<h3>产品附件</h3>
					<p>
						<div class="open-pdf">
							<b class="sel-b"></b>
							<a id="cpfj"></a>
							<button id="href">打开</button>
						</div>
					</p>
				</div>
			</div> -->
			<!--底部-->
		</script>
		<div class="bottom">
			<div class='tarea'>
				<div class='tipl'>起头金额</div>
				<input class='inp' type="text" placeholder="1000" />
				<div class='tipr'>元</div>
			</div>
			<div class='btn'>立即投资</div>
		</div>
	</body>
	<script src='js/goodsDetail.js'></script>
</html>