<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title> <%= htmlWebpackPlugin.options.title %> </title>
    <script>
        //声明_czc对象:
        var _czc = _czc || [];

    </script>
</head>
<body>
<div id="app"></div>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.type = 'text/javascript';
        hm.src = "https://hm.baidu.com/hm.js?981a0a845a4e3e5a686c506f306fb713";
        document.body.appendChild(hm);
    })();
</script>

</body>
</html>
