@charset "UTF-8";
@import "variables";

@tab-active: #1D72C0;
.financail {
    position: relative;
    width: 100%;
    height: 100%;
    .tabs {
        /* height: 1.8rem;*/
        .tab {
            background: @bg-content;
            text-align: center;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            &.active {
                border-image: @app-border-bottom;
                .tab-item {
                    color: @app-color;
                }
            }
            .tab-item {
                color: @color-text-gray;
                font-size: .8rem;
                display: inline-block;
                height: 2.2rem;
                line-height: 2.2rem;
                padding: 0 .2rem;
            }
        }
    }
    .item-list {
        position: relative;
        overflow: auto;
        .item {
            position: relative;
            padding: 1rem;
            margin-bottom: .4rem;
            background-color: @bg-content;
            overflow: hidden;
            &.rgl-item {
                padding: 1rem 1rem 0;
                border-bottom: 1px solid #eee;
                border-top: 1px solid #eee;
            }
            &.novice-label {
                padding: 0;
                .title-part {
                    padding: .8rem .8rem .5rem .8rem;
                    border-bottom: 1px solid @color-split;
                }
                .rate-part {
                    font-size: .9rem;
                    text-align: center;
                    margin: .4rem .8rem 0 .8rem;
                    .newhand-tip {
                        position: relative;
                        margin: auto;
                        max-width: 6rem;
                        min-width: 3rem;
                        position: relative;
                        font-size: .6rem;
                        color: @bg-content;
                        background: #FF6A37;
                        left: 5rem;
                        top: 0rem;
                        height: 1rem;
                        line-height: 1rem;
                        padding: 0 .3rem;
                        max-width: 6rem;
                        .tri {
                            position: absolute;
                            width: .4rem;
                            bottom: -.3rem;
                            left: -1px;
                        }
                    }
                    .rate {
                        margin-top: .2rem;
                        color: #F61C1C;
                        font-size: 1.2rem;
                        text-align: center;
                    }
                }
                .m-part {
                    padding: .3rem .8rem .8rem .8rem;
                }
            }
            .daren {
                width: 2.5rem;
                height: .8rem;
                margin-left: .4rem;
                padding-top: 0.15rem;
            }
            .ticket-wrap {
                .ticket-item {
                    color: @app-ticket-context;
                    font-size: .6rem;
                    border: 1px solid @app-ticket-context;
                    margin: .4rem 1rem 0 0;
                    padding: .05rem .35rem;
                    border-radius: 2px;
                    &.disable {
                        color: @bg-content;
                        background-color: #cacaca;
                        border: none;
                    }
                }
            }
            .status-code {
                position: absolute;
                top: .5rem;
                right: -1.4rem;
                transform: rotate(35deg);
                width: 5.5rem;
                height: 22px;
                line-height: 22px;
                color: #fff;
                text-align: center;
                &.hot {
                    background-color: @app-ticket-context; //预热
                }
                &.raise {
                    background-color: @app-red; //募集
                }
                &.sell-out {
                    background-color: @bg-sell-out; // 售罄
                }
            }

            .fund-name {
                padding-top: .1rem;
                line-height: .8rem;
                font-size: .8rem;
                color: @color-text;
                max-width: 80%;
                font-weight: bold;
            }
            .time-text {
                background: #FF6A37;
                border-radius: 67px;
                color: #fff;
                display: inline-block;
                padding: .05rem .5rem;
                font-size: .6rem;
                margin-top: .2rem;
                transform: scale(.8);
                margin-left: -.6rem;
            }
            .fund-middle {
                margin-top: .5rem;
                margin-bottom: .2rem;
                .rate, .cycle {
                    font-size: .9rem;
                    color: @app-red;
                    line-height: 50px;
                    width: 3rem;
                    .sub-text {
                        padding-top: .1rem;
                        font-size: .6rem;
                        line-height: .6rem;
                        color: @color-text-secondary;
                    }
                }
                .progress {
                    position: relative;
                    height: 50px;
                    width: 50px;
                    margin-right: 1rem;
                }
            }
            //固定收益
            .fund-middle-fix {
                margin-bottom: .2rem;
                &.padding-top {
                    padding-top: 1rem;
                }
                .rate, .cycle {
                    font-size: .9rem;
                    color: @app-red;
                    width: 3rem;
                    line-height: 50px;
                    &.hot {
                        color: @app-ticket-context;
                    }
                    &.raise {
                        color: @app-red;
                    }
                    &.sell-out {
                        color: @bg-sell-out;
                    }
                    .sub-text {
                        padding-top: .1rem;
                        font-size: .7rem;
                        color: @color-text-secondary;
                        line-height: .7rem;
                    }
                }
                .rate {
                    position: relative;
                    overflow: visible;
                    .float-tip {
                        border-radius: 2px;
                        position: relative;
                        font-size: .6rem;
                        color: @bg-content;
                        background: #FF6A37;
                        top: 0rem;
                        margin-left: .3rem;
                        height: 1rem;
                        line-height: 1rem;
                        padding: 0 .3rem;
                        max-width: 6rem;
                        .tri {
                            position: absolute;
                            width: .4rem;
                            bottom: -.3rem;
                            left: -1px;
                        }
                    }
                    .max-profit {
                        font-size: .9rem;
                    }
                }
                /*    .status.sell-out {
                        transform: rotate(-30deg);
                    }*/
                .status {
                    position: absolute;
                    right: 0;
                    top: 0;
                    span {
                        width: 3.3rem;
                        display: inline-block;
                        height: 1.5rem;
                        line-height: 1.5rem;
                        border-radius: 0;
                        text-align: center;
                        color: #FFF;
                        &.hot {
                            background-color: @app-ticket-context;
                            box-shadow: 0 0 10px @app-ticket-context;
                        }
                        &.raise {
                            background-color: @app-red;
                            box-shadow: 0 0 10px @app-red;
                        }
                        &.sell-out {
                            background-color: @bg-sell-out; // 售罄
                        }
                    }
                }
            }
            .progress-part {
                position: relative;
                .progress-line {
                    width: 83%;
                    height: .2rem;
                    background: #F4F4F4;
                    margin: .6rem 0;
                    position: relative;
                    .done {
                        background: @app-progress;
                        height: 100%;
                        &.hot {
                            background-color: @app-ticket-context;
                        }
                        &.raise {
                            background-color: @color-interest;
                        }
                        &.sell-out {
                            background-color: @bg-sell-out; // 售罄
                        }
                    }
                    .round {
                        position: absolute;
                        background: rgba(246, 215, 145, 0.5);
                        width: .8rem;
                        height: .8rem;
                        border-radius: 50%;
                        top: -0.3rem;
                        &.sell-out {
                            background: rgba(219, 219, 219, 0.5);
                        }
                        div {
                            border-radius: 50%;
                            width: .5rem;
                            height: .5rem;
                            background: @app-progress;
                            position: absolute;
                            top: .15rem;
                            left: .15rem;
                            &.sell-out {
                                background-color: @bg-sell-out; // 售罄
                            }
                        }
                    }

                }
                .progress-num {
                    position: absolute;
                    right: 0;
                    top: -.4rem;
                }
            }
            .buttom {
                font-size: .7rem;
                position: relative;
                padding: .6rem 0 .6rem 1rem;
                border-top: 1px solid #eee;
                &:before {
                    content: '';
                    position: absolute;
                    width: .75rem;
                    height: .8rem;
                    top: 50%;
                    left: -2px;
                    margin-top: -.4rem;
                    background-image: url("../images/money-chart.png");
                    background-size: cover;
                }
            }
        }
    }
    //遮罩层
    .mask {
        //display:none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        .content {
            overflow: hidden;
            height: 20rem;
            width: 84%;
            padding-bottom: .75rem;
            background: #fff;
            position: absolute;
            left: 8%;
            top: 50%;
            margin-top: -10rem;
            h2 {
                text-align: center;
                margin: 1rem 0 1.4rem 0;
                font-size: .8rem;
                font-weight: normal;
            }
            .main {
                box-sizing: border-box;
                width: 93%;
                padding: .25rem .4rem 2.5rem .25rem;
                height: 11.45rem;
                overflow: hidden;
                overflow-y: auto;
                margin: 0 auto;
                border: 1px solid #666;
                &::-webkit-scrollbar-track-piece {
                    border-left: 1px solid #666;
                }
                &::-webkit-scrollbar {
                    width: .5rem;
                    height: .65rem;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #1D72C0;
                    background-clip: padding-box;
                    min-height: 1.4rem;
                }
            }
            .confirm {
                font-size: .6rem;
                margin: .55rem 0 0 3%;
                i {
                    border: 1px solid #1D71BE;
                    display: inline-block;
                    width: .65rem;
                    height: .65rem;
                    margin-right: .25rem;
                    vertical-align: middle;
                }
                .active {
                    background: url('../images/checked.png') no-repeat;
                    background-size: 123%;
                    background-position: -1px -1px;
                }
            }
        }
        .btn {
            width: 35%;
            margin: 19px auto;
            height: 34px;
            line-height: 34px;
            text-align: center;
            background: #1D72C0;
            border-radius: 4px;
            color: #FFF;
            &:disabled {
                background: #DBDBDB;
                box-shadow: 0 0 5px #DBDBDB;
            }
        }

    }
    .nav {
        background: #FFFFFF;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2) inset;
        text-align: center;
        padding: .3rem 0;
        img {
            width: 1.3rem;
        }
    }
    .download-app {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
        text-align: center;
        padding: .3rem 0;
        height: 2.2rem;
        line-height: 2rem;
        a {
            text-decoration: none;
        }
    }
}
