@charset "UTF-8";
@import "variables";

.fixi-goods-detail {
    position: relative;
    width: 100%;
    height: 100%;
    .warp{
        position: absolute;
        top: 0;
        bottom: 2.5rem;
        padding-bottom: .4rem;
        width: 100%;
        overflow-y: auto;
    }
    .top {
        background-image: linear-gradient(-180deg, #323232 25%, #1D72C0 100%);
        padding: .8rem;
        color: #fff;
        .main-title {
            text-align: center;
            font-size: .8rem;
            padding-top: 1rem;
            font-weight: bold;
        }
        .sub-title {
            text-align: center;
            font-size: .65rem;
            padding-top: 1rem;
        }
        .rate {
            text-align: center;
            color: @color-interest;
            font-size: 2.4rem;
        }
        .items {
            position: relative;
            padding-top: .5rem;
            .item {
                text-align: center;
            }
            .item-text {
                text-align: center;
            }
            .item-number {
                text-align: center;
                max-width: 8rem;
                margin: auto;
                font-size: 1rem;
                padding-top: .5rem;
                color: @color-interest;
            }
        }
        .progress-warp {
            color: @color-split;
            margin-top: .5rem;
            span {
                margin: 0 .5rem;
            }
            .progress {
                position: relative;
                background-color: #fff;
                .active {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background-color: @color-interest;
                }
            }
        }

    }
    .ticket-wrap{
        background-color: @bg-content;
        margin-top: .5rem;
        padding:0 .8rem;
        .ticket-item{
            color:#4387c5;
            background-color:#e7f3ff;
            font-size: .6rem;
            border:1px solid #84c4ff;
            margin:.4rem 1rem .4rem 0;
            padding: 0 .35rem;
        }
    }
    .date-warp {
        margin-top: .5rem;
        padding: .75rem .8rem;
        background-color: #fff;
        font-size: .6rem;
        .date-item {
            position: relative;
        }
        .date-info {
            text-align: center;
            padding-bottom: .5rem;
        }
        .date {
            text-align: center;
            padding-top: .5rem;
        }
        .round-warp {
            position: relative;
            .line-left {
                position: absolute;
                top: 50%;
                left: 0;
                right: 50%;
                height: 1px;
                background: @color-split;
                z-index: 1;
                &.red {
                    background-color: @color-interest;
                }
            }
            .line-right {
                position: absolute;
                top: 50%;
                left: 50%;
                right: 0;
                height: 1px;
                background: @color-split;
                z-index: 1;
                &.red {
                    background-color: @color-interest;
                }
            }
            .round {
                position: relative;
                background: rgba(219, 219, 219, 0.5);
                width: .8rem;
                height: .8rem;
                border-radius: 50%;
                margin: auto;
                z-index: 2;
                &.active {
                    background: rgba(255, 109, 0, 0.5);
                    .inner-round {
                        background-color: @color-interest;
                    }
                }
                .inner-round {
                    border-radius: 50%;
                    width: .5rem;
                    height: .5rem;
                    background: @color-split;
                }
            }
        }

    }
    .basic {
        margin-top: .5rem;
        background-color: #fff;
        padding: .8rem;
        &.product-information {
            margin-top: 0;
            border-bottom: 1px solid @color-split;
            &:last-child {
                border-bottom: none;
            }
        }
        .basic-title {
            color: @color-text;
            font-size: .8rem;
            position: relative;
            .arrow {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -.3rem;
                height: .6rem;
                width: .8rem;
                background-image: url("../images/arraw-down.png");
                background-size: cover;
                transition: transform .25s ease;
                &.up {
                    transform: rotate(180deg);
                }
            }
        }
        .content {
            padding-top: .5rem;
            color: @color-text-secondary;
            font-size: .6rem;
            .item {
                position: relative;
                line-height: 1.2rem;
            }
        }
        .basic-content {
            line-height: .8rem;
            color: @color-text-secondary;
            font-size: .6rem;
            transition: all .25s ease;
            height: 0;
            opacity: 0;
            padding-top: 0;
            &.outset {
                height: auto;
                opacity: 1;
                padding-top: .5rem;
            }
            .product-attachment{
                color: @color-active;
            }
        }
    }
    .bottom{
        position: absolute;
        bottom: 0;
        height: 2.5rem;
        width: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        .min-invest{
            text-align: center;
            background-color: #fff;
            color: @color-text-secondary;
            line-height: 2.5rem;
            border-radius: 0;
        }
        .do-invest{
            text-align: center;
            background-color: #FA3D1F;
            color: #fff;
            line-height: 2.5rem;
            border-radius: 0;
        }
        .can-not-buy{
            text-align: center;
            line-height: 2.5rem;
            color:#fff;
            background-color: #d8d8d8;
        }
    }
}
