@charset "UTF-8";
@import "variables";
.my-count{
	position:relative;
	width:100%;
	height:100%;
	font-size:.7rem;
	.count-body{
		position:relative;
		overflow-y:hidden;
		p{
			padding:.6rem 0 .6rem .8rem;
		}
		.info{
			padding-left:.8rem;
			background-color:@bg-content;
			.item1{
				padding:.7rem .8rem .7rem 0;
				border-bottom:1px solid @color-split;
			}
			.item2{
				padding:.7rem .8rem .7rem 0;
			}
		}
		.bank{
			background-color:@bg-content;
			padding: 0 .8rem;
			.bank-name{
                position: relative;
				height:5rem;
                border-radius:.4rem ;
                background: linear-gradient(to left, #aa6732,#fdcfa9, #aa6732);
                &:after{
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0px;
                    width: 1.6rem;
                    height: 1.6rem;
                    background-image: url("../images/bank/bank-icon.png");
                    background-size: cover;
                }
				.bank-logo{
					width:1.8rem;
					height:1.8rem;
					margin:.8rem 0 0 .8rem;
				}
				.name{
					display:inline-block;
					margin-top:1.3rem;
					color:#000;
					font-size:.8rem;
					text-shadow:.05rem .05rem 0 #ddd;
				}
				.bank-info{
					width:10.45rem;
					height:0.9rem;
					margin:.85rem auto;
					color: #2E1702;
					text-shadow:.05rem .05rem 0 #ddd;
				}
			}
		}
		.tel-info{
			width: 12.9rem;
			margin: .8rem  auto;
			font-size: 0.7rem;
			.span{
				color: #0F5391;
				cursor: pointer;
			}
		}
	}
}
