@charset "UTF-8";
@import "variables";
.pension-three {
    position: relative;
    width: 100%;
    height: 100%;
    .salary{
        margin-top: 5.7rem;
        padding: .8rem .7rem;
        .title{
            text-align: center;
            font-size: .7rem;
        }
        .content{
            margin: 1.9rem auto 0;
            .num{
                font-size: 1rem;
                color: #333333;
                height: 2.5rem;
                width: 10.95rem;
                //padding: .75rem 0 .9rem;
                background-image: url("../images/pension2-3/border.png");
                background-size: 10.95rem;
                input{
                    margin-left:.75rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    font-size:1rem ;
                    background: transparent;
                    border-radius: 0;
                    -webkit-appearance:none;
                }
            }
            span{
                font-size: .8rem;
                margin-left:.7rem;
                line-height: 2.5rem;
            }
        }
    }
    .check{
        margin: .85rem auto 1.4rem;
        width: 13.5rem;
        span{
            font-size: .9rem;
            color:  #7D502C;
        }
    }
    .bottom{
        position: relative;
        div{
            height: 2.3rem;
            text-align: center;
            color: #fff;
            font-size: 1rem;
            line-height: 2.3rem;
            width: 9.3rem;
            background-image: linear-gradient(-1deg, #7C4F2B 0%, #8F6441 24%, #D8BD7E 70%, #EECE83 100%);
        }
        .left{
            margin-right: 0.15rem;
        }
    }
}
