@charset "UTF-8";
@import "variables";

.product-subscription{
    .body{
        .product-info{
            padding:.8rem;
            height:11.3rem;
            color:@bg-content;
            background-image: linear-gradient(134deg, #71E1F0 0%, #95A5F1 49%, #CD3FFA 100%);
            text-align: center;
            .title{
                padding-bottom: .9rem;
                font-size: .9rem;
            }
            .info-center{
                .info{
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    padding:.5rem;
                }
                .title{
                    font-size: .7rem;
                    line-height: .7rem;
                }
            }
        }
        .fund-info{
            position:relative;
            overflow: hidden;
            background-image: linear-gradient(225deg, #74BDFF 37%, #1D72C0 100%);
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
            border-radius: 4px;
            margin: -4.7rem .8rem 0 .8rem;
            height:9.4rem;
            .bg-outer{
                position:absolute;
                border-radius: 50%;
                width: 11.5rem;
                height: 12.5rem;
                background-color: #3C8DD7;
                top: -2rem;
                right: -2rem;
                .bg-middle{
                    background-color: #509DE5;
                    border-radius: 50%;
                    width: 11rem;
                    height: 9rem;
                    position: absolute;
                    top: 0;
                    right: -2rem;
                    .bg-inner{
                        background-color: #6CB5F9;
                        width: 6.5rem;
                        height: 6.5rem;
                        position: absolute;
                        top: 0rem;
                        right: 2.5rem;
                        border-radius: 50%;
                    }
                }
            }
            .fund-center{
                position:absolute;
                height:9.4rem;
                width:100%;
                color:@bg-content;
                .fund-title{
                    font-size: .8rem;
                    line-height: .8rem;
                    height: .8rem;
                    padding:.8rem;
                }
                .fund-chart{
                    font-size: 1.2rem;
                    padding:0 .8rem;
                    line-height: 1.2rem;
                    img{
                        margin-right: .5rem;
                        width:1.35rem;
                        height:1.35rem;
                    }
                }
                .fund-detail{
                    text-align: center;
                    .info{
                        font-size: .9rem;
                    }
                }
                .ticket-bar{
                    background: #2B62A8;
                    padding:.6rem .8rem;
                    line-height: .7rem;
                    img{
                        width:.9rem;
                        height:.7rem;
                    }
                }
            }
        }
     /*   .section{
            background-color: @bg-content;padding:0 .8rem;
            .item{
                color:@color-text-secondary;
                p{
                    padding: .6rem 0;
                }
                .product-name{
                    margin-left: .5rem;text-align: right;
                }
            }
            .bl{
                border-bottom: 1px solid @color-split;
            }
        }*/
        .seprate{
            margin-top: .5rem;
        }
        .lackmoney{
            font-size: .7rem;padding: .7rem .8rem;
           /* .title{
                font-size: .6rem;
            }*/
            .bank{
                background-color:@bg-content;padding:.5rem 0;
                .bank-name{
                    position: relative;
                    height:5rem;
                    border-radius:.4rem .8rem;
                    background: linear-gradient(to left, #aa6732,#fdcfa9, #aa6732);
                    &:after{
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: 0px;
                        width: 1.6rem;
                        height: 1.6rem;
                        background-image: url("../images/bank/bank-icon.png");
                        background-size: cover;
                    }
                    .bank-logo{
                        width:1.8rem;
                        height:1.8rem;
                        margin:.8rem 0 0 .8rem;
                    }
                    .name{
                        display:inline-block;
                        margin-top:1.3rem;
                        color:#000;
                        font-size:.8rem;
                        text-shadow:.05rem .05rem 0 #ddd;
                    }
                    .bank-info{
                        width:10.45rem;
                        height:0.9rem;
                        margin:.85rem auto;
                        color: #2E1702;
                        text-shadow:.05rem .05rem 0 #ddd;
                    }
                }
            }
        }
        .rechargeNum{
            text-align: right;font-size: 0.8rem;color:#FA3D1F;margin-right:.25rem;
        }
    }
    .bottom{
        padding:0 .8rem;font-size: .6rem;color:@color-text-secondary;margin-top: .5rem;
        .chec{
            width:.6rem;height:.6rem;border:1px solid @bg-button;margin: .2rem .2rem 0 0;
        }
        .active{
            background-image: url('../images/purchase/checked.png');  background-size: 123%;
            background-position: -1px -1px;
        }
        .agreement{
            color:@bg-button;
        }
        .btn{
            border-radius: @border-radius;color:@bg-content;font-size: .8rem;background-color:#d8d8d8 ;
            width:16.5rem;height:2.3rem;line-height:2.3rem;margin:3rem auto 0 auto;text-align: center;
        }
        .enable{
            background-color: @bg-button;box-shadow:  0 0 5px #1D71BE;
        }
    }



}
