@charset "UTF-8";
@import "variables";

@tab-active: #1D72C0 ;
.reserve-detail {
    width:100%;height:100%;position: relative;overflow-x:hidden;font-size:.7rem;
    padding-top:.6rem;
    .detail{
        position: relative;
        .detail-ul{
            position: relative;
            background-color:@bg-content;
            padding:.65rem .8rem 0;
            margin-bottom:.5rem;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.11);
            li{
                line-height: 1.5em;
                font-size: .7rem;
                padding-bottom: .65rem;
                div:last-child{
                    color:#151515;
                    margin-left:.1rem;
                    .color-red{
                        color:red;
                    }
                }
                div.width{
                    max-width:13.5rem;
                    a{
                        color:@tab-active;
                        text-decoration: none;
                    }
                }div.color{
                    color:@tab-active;
                }
            }
        }
        .detail-ul:last-child{margin-bottom:0}

    }
    .icon{
        display:block;
        width:2.5rem;height:2.15rem;
        position: absolute;
        top:-.1rem;right:-.1rem;
        background-repeat:no-repeat;
        background-position: 0 0;
        -webkit-background-size:100%;
        background-size:100%;
        i{
            display: block;
            width:100%;height:100%;
            color:#fff;font-size:.5rem;
            font-style: normal;
            position: absolute;
            right: -.25rem;
            top: 0.3rem;
        }
        i:after{
            position: absolute;
            transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -webkit-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            right:0.05rem;top:0.12rem;
        }
    }
    .ing,.spread{
        background-image: url(../images/best/icon-ing.png);
    }
    .ing{
        i:after{
            content: "预约中";
        }
    }
    .spread{
        i:after{
            content: "已流转";
        }
    }
    .finish{
        background-image: url(../images/best/icon-finish.png);
        i:after{
            content: "已完成";
        }
    }
    .cancel,.past{
        background-image: url(../images/best/icon-cancel.png);
    }
    .cancel{
        i:after{
            content: "已取消";
        }
    }
    .past{
        i:after{
            content: "已过期";
        }
    }
    .wait{
        background-image: url(../images/best/icon-wait.png);
        i:after{
            content: "待结算";
        }
    }
    .accounted{
        background-image: url(../images/best/icon-finish.png);
        i:after{
            content: "已结算";
        }
    }
    .more {
        text-align: center;padding:.8rem 0;
        background-color:@bg-content;
        a{
            color:@tab-active;
            text-decoration: none;
        }
    }
}
.invitation{
    .detail{
        .detail-ul{
            border-bottom:1px solid rgba(151,151,151,.5)
        }
        .detail-ul:last-child{
            border-bottom:none;
        }
    }
}
