@import "../variables";
.bulletin{
    background: @bg-content;
    padding:0 .8rem;
    color: #000;
    .item{
        list-style: none;
        padding:.7rem 0;
        .content{
          line-height: 1.2rem;
        }
        .time{
            text-align: right;
            margin-top: .5rem;
        }
    }
    .bl{
        border-bottom: 1px solid @color-split;
    }
}
